#game-board button:nth-child(5) {
  left: 46.35254916;
  background: red;
  top: -142.65847744;
}
#game-board button:nth-child(4) {
  left: -121.35254916;
  background: red;
  top: -88.16778784;
}
#game-board button:nth-child(3) {
  left: -121.35254916;
  background: red;
  top: 88.16778784;
}
#game-board button:nth-child(2) {
  left: 46.35254916;
  background: red;
  top: 142.65847744;
}
#game-board button:nth-child(1) {
  left: 150;
  background: red;
  top: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-image: url(./bg-pentagon.png);
  background-position-y: 60%;
  background-size: 306px;
  background-repeat: no-repeat;
  background-color: #1f3656;
  background-position-x: 51%;
}
body #wrapper {
  width: 80%;
  margin: 0 auto;
}
body #wrapper #score {
  border: 2px solid #596883;
  border-radius: 6px;
  padding: 1%;
}
body #wrapper #score:after {
  content: " ";
  display: block;
  clear: both;
}
body #wrapper #score p {
  margin: 0 0 5px 0;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  width: 24%;
  float: left;
}
body #wrapper #score .card {
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  float: left;
  width: 22%;
  margin: 0.5%;
  background: #f9f9f9;
  text-align: center;
  color: #0f43a4;
  padding: 1%;
  -webkit-box-shadow: -1px 6px 8px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 8px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 6px 8px -6px rgba(0, 0, 0, 0.75);
}
body #wrapper #score .card .number {
  font-size: 24px;
  color: #565656;
  padding: 1%;
  font-weight: bold ;
}
body #wrapper #game-board {
  position: absolute;
  top: 48%;
  left: 46.3%;
}
body #wrapper #game-board .button {
  border-radius: 50%;
  border: none;
  padding: 14px 15px;
  position: absolute;
  cursor: pointer;
  -webkit-box-shadow: -1px 6px 8px -6px rgba(0, 0, 0, 0.75), inset -2px -11px 0px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 6px 8px -6px rgba(0, 0, 0, 0.75), inset -2px -11px 0px -6px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 6px 8px -6px rgba(0, 0, 0, 0.75), inset -2px -11px 0px -6px rgba(0, 0, 0, 0.2);
  outline: none;
}
body #wrapper #game-board .button[data-type="paper"] {
  background: #4765f7;
}
body #wrapper #game-board .button[data-type="paper"] span {
  background-image: url("./icon-paper.svg");
}
body #wrapper #game-board .button[data-type="rock"] {
  background: #dc324f;
}
body #wrapper #game-board .button[data-type="rock"] span {
  background-image: url("./icon-rock.svg");
}
body #wrapper #game-board .button[data-type="scissors"] {
  background: #eca20f;
}
body #wrapper #game-board .button[data-type="scissors"] span {
  background-image: url("./icon-scissors.svg");
}
body #wrapper #game-board .button[data-type="lizzard"] {
  background: #8b57e2;
}
body #wrapper #game-board .button[data-type="lizzard"] span {
  background-image: url("./icon-lizard.svg");
}
body #wrapper #game-board .button[data-type="spock"] {
  background: #42b7cb;
}
body #wrapper #game-board .button[data-type="spock"] span {
  background-image: url("./icon-spock.svg");
}
body #wrapper #game-board .button span {
  -webkit-box-shadow: inset -2px 13px 0px -8px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset -2px 13px 0px -8px rgba(0, 0, 0, 0.26);
  box-shadow: inset -2px 13px 0px -8px rgba(0, 0, 0, 0.26);
  display: block;
  border-radius: 50%;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  text-indent: -5000px;
  background-position: center;
  background-size: 60%;
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 500px) {
  body #wrapper #game-board {
    left: 38%;
  }
}
/*# sourceMappingURL=theme.css.map */